{% extends 'base.html' %} {% load static %} {% block headers %} {% endblock %}
{% block contents %}

<div class="center">
  <input type="checkbox" id="show" />
  <label for="show" class="show-btn">로그인하기</label>
  <div class="container">
    <label for="show" class="close-btn fas fa-times" title="close"></label>
    <div class="text">
      로그인
    </div>
    <form action="{% url 'create_user' %}" method="POST">
      {% csrf_token %}
      <div class="data">
        <label>Nickname</label>
        <input type="text" name="username" required />
      </div>
      <div class="data">
        <label>Password</label>
        <input type="password" name="password" required />
      </div>

      <div class="btn">
        <div class="inner"></div>
        <button type="submit">login</button>
      </div>
      <div class="signup-link">
        Not a member? <a href="{% url 'signup' %}">Signup now</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
