<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'CSS/tagcloud.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/card.css' %}" />
    <script src="./jquery-3.6.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'JS/tagcloud.js' %}"></script>
  </head>
  <body>
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
      <!-- 최대값 : 2년 -> data-weight="20" -->
      <!-- <li><a href="#" date="20200819" id="0">맨투맨</a></li>
        <li><a href="#" date="20191120" id="1">흰 후드티</a></li>
        <li><a href="#" date="20210719" id="2">머그컵</a></li>
        <li><a href="#" date="20191228" id="3">미니선풍기</a></li>
        <li><a href="#" date="20200930" id="4">모자</a></li>
        <li><a href="#" date="20200602" id="5">도라에몽 이불</a></li>
        <li><a href="#" date="20210105" id="6">손잡이 부러진 우산</a></li>
        <li><a href="#" date="20190306" id="7">블루투스 스피커</a></li>
        <li><a href="#" date="20200412" id="8">기한 지난 파운데이션</a></li>
        <li><a href="#" date="20191228" id="9">청바지</a></li>
        <li><a href="#" date="20190930" id="10">빨간 후드티</a></li>
        <li><a href="#" date="20210519" id="11">물 새는 물병</a></li>
        <li><a href="#" date="20200818" id="12">지구본</a></li>
        <li><a href="#" date="20210109" id="13">깨진 액자</a></li>
        <li><a href="#" date="20200210" id="14">고1 수학책</a></li> -->

      {% if plans_length == False %}
      <img src="{% static 'image/register_recommand.png' %}" />
      <br />
      STATISTICS 페이지에서 비울 일정을 등록해주세요!
      <br />{% else %} {% for plan in plans %}
      <li>
        <a href="#" date="{{ plan.clean_date }}" id="{{ forloop.counter }}">
          {{ plan.title }}</a
        >
      </li>
      <!-- <div class="inf" style="overflow: hidden">
          <p id="inf_date-{{ forloop.counter }}">날짜 : {{ plan.clean_date }}</p>
          <p id="inf_specific-{{ forloop.counter }}">상세 : {{ plan.content }}</p>
        </div> -->
      {% endfor %} {% endif %}
    </ul>
    <br />
  </body>
</html>
