{% extends 'base.html' %} {% load static %} {% block headers %}
<link rel="stylesheet" href="{% static 'css/landingPage.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}" />
<script src="{% static 'js/fullpage.min.js' %}"></script>

{% endblock %} {% block contents %}
<header>
  <h1><img class="logo-image" src="{% static 'image/logo.png' %}" />비우다</h1>
  <nav>
    <span>
      <a href="{% url 'login' %}"
        ><img class="login-btn" src="{% static 'image/login.png'%}"
      /></a>
    </span>
  </nav>
</header>

<div id="main">
  <section class="section">
    <h2>How to go for minimalism  ✔️</h2>
    <h3>
      비우다
    </h3>
    <h4 style="display:inline;">
      1.
      <span class="point-color">
        [동사]
      </span>
      일정한 공간에 사람, 사물 따위를 들어 있지 아니하게 하다.
    </h4>
    <br>
    <h4 style="display:inline;">
      2.
      <span class="point-color">
        [동사]
      </span>
      손에 들거나 몸에 지닌 것을 없게 하다.
    </h4>

    <br><br>
    <h4 id ="inspiration "style="margin:30px;display:inline;">
      "우리가 할 일은 인생을 물건으로 채우는 것이 아니다</h4>
      <h4>버리는 일에는 노력이 필요하다</h4> 
      <h4>제일 힘든 것은 버리는 행동 자체가 아니라,</h4>
      <h4>어떤게 필요하고 불필요한지를 판단하는 일이다."<h4>
      <h4>[심플하게 산다]中"</h4>
    
   
    <span style=" margin: -500px 50px 0 -200px;"
      ><img
        class="section-image"
        style="width:400px; height: 300px;  margin: -140px 50px 0 800px;  z-index:20;"
        src="{% static 'image/minimal.jpg' %}"
    /></span>
  </section>
  
  <section class="section">
    <h2 id="introduce">Start Minimalism  ✔️</h2>
    <div>
      <h3>RULE 01_ 당장 필요한 물건만 사자 👍</h3>
      <p>사은품을 조심하세요. 필요하지 않았던 물건 때문에 돈과 공간을 낭비하지 마세요</p>
    </div> 
    <div>
      <h3>RULE 02_ 버리기 아까운 물건은 기부하자 👍</h3>
      <p>한 번도 사용하지 않거나 멀쩡해서 버리기 아까운 물건, 좋은 일에 사용하세요</p>
    </div>   
    <div>
      <h3>RULE 03_ 인간관계를 정리하자 👍</h3>
      <p>친분이 아닌 사회적 기대감으로 인간관계를 유지하는게 행복할까요? 불필요한 인간관계 과감하게 정리하세요</p>
    </div>
      <h3>RULE 04_ 미니멀 상자 만들기 👍</h3>
      <p>물건에 날짜 기재 후 1년 동안 찾지 않는다면 미니멀 상자에 넣어주세요</p>
   
  </section>

  <section class="section">
    <h2>Let's Test ✔️</h2>
    <img src="{% static 'image/조사등록.gif' %}" width="550px" height="350px" class="gif">
    <img src="{% static 'image/조사체크.gif' %}" width="550px" height="350px" class="gif"><br>
    
    <a href="#" id="start_test">Start Test 👉</a>
  </section>

  <section class="section">
    <h2>main page1 ✔️</h2>
    <img src="{% static 'image/클라우드.gif' %}" width="550px" height="350px" class="gif">
    <img src="{% static 'image/통계에서클라우드.gif' %}" width="550px" height="350px" class="gif">
    
  </section>

  <section class="section">
    <h2>main page2 ✔️</h2>
    <img src="{% static 'image/물건 추가.gif' %}"  width="550px" height="350px" class="gif">
    <img src="{% static 'image/물건 삭제.gif' %}"  width="550px" height="350px" class="gif">
    
  </section>
</div>

<script>
  new fullpage("#main", {
    licenseKey: "",
    sectionsColor: ["#F5F4EF", "#DEDBD1", "#F5F4EF", "#DEDBD1", "#F5F4EF"],
    navigation: true
  });
</script>
{% endblock %}
