{% extends 'base.html' %} {% load static %} {% block headers %}
<link rel="stylesheet" href="{% static 'css/landingPage.css' %}" />
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}" />
<script src="{% static 'js/fullpage.min.js' %}"></script>

{% endblock%} {% block contents %}
<header>
  <h1>MINIMALISM</h1>
  <nav>
    <span><img class="login-btn" src="{% static 'image/login.png'%}"/></span>
  </nav>
</header>
<div id="main">
  <section class="section"><h2>main</h2></section>
  <section class="section">
    <h2>introduce</h2>
    <h3>미니멀리즘 생활을 시작하고 싶다면</h3>
  </section>
  <section class="section"><h2>test page</h2></section>
  <section class="section"><h2>main page1</h2></section>
  <section class="section"><h2>main page2</h2></section>
</div>

<script>
  new fullpage("#main", {
    licenseKey: "",
    sectionsColor: ["#DEDBD1", "#C3C3B2", "#DEDBD1", "#C3C3B2", "#DEDBD1"],
    navigation: true
  });
</script>

{% endblock %}
