@charset "utf-8";

body {
  margin: 200px;
  background: #dedbd1;
}

.test_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test_page form ul {
  margin: 30px;
  list-style: none;
}

.test_page form ul li {
  margin: 30px;
  padding: 20px;
  border: solid #f5f4ef 1px;
  border-radius: 10px;
  background: #f5f4ef;
  width: 570px;
  height: 21px;
}

h1 {
  color: #53524e;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  margin-left: 360px;
  font-size: 30px;
}

h1:after {
  display: block;
  content: "";
  border-bottom: solid 3px #53524e;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

h1:hover:after {
  transform: scaleX(1);
}
h1.fromLeft:after {
  transform-origin: 0% 50%;
}

<<<<<<< HEAD
.test_page .progress {
  text-align: center;
  color: #53524e;
=======
h1#page1:active{
    display:none;

}


.test_page .progress{
    text-align:center;
    color:#53524E;
    
>>>>>>> 973e69b089b1997be0c129472f3ee60406a50dfd
}

progress {
  -webkit-appearance: none;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 590px;
}

::-webkit-progress-bar {
  background-color: #f5f4ef;
  border-radius: 10px;
}

::-webkit-progress-value {
  background-color: #53524e;
  border-radius: 10px;
}

#page2,
#page3,
#page4 {
  display: none;
}

<<<<<<< HEAD
#nextTo2:checked #page2 {
  display: block;
}
#nextTo2:checked #page1 {
  display: none;
}

#nextTo2:checked #page3 {
  display: none;
}
#nextTo2:checked #page4 {
  display: none;
}
=======

>>>>>>> 973e69b089b1997be0c129472f3ee60406a50dfd

#submit_button {
  display: flex;
  justify-content: center;
}

#submit_button_img {
  width: 150px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #0d4a4d;
  background-size: cover;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input#fromLeftsubmit {
  display: none;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
